# Keys and Secrets (EXTREMELY IMPORTANT)
**/.env
**/.env.local
**/firebase-credentials.json
Key_Auth
*.pem
*.key

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/venv/
**/env/
**/.venv/
temp_audio/

# Node/React
**/node_modules/
**/dist/
**/.npm/
**/build/

# OS Files
.DS_Store
Thumbs.db
